*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

h1 {
  margin: 0;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-block {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.auth-block__title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth-form__control {
  padding: 10px 5px;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.error {
  color: red;
}
